/* @theme gaia-ex */

@import "gaia";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

@-webkit-keyframes fade-list {
  100% {
    opacity: 1;
  }
}
@keyframes fade-list {
  100% {
    opacity: 1;
  }
}

section {
  font-family: "Noto Sans", "Roboto", sans-serif;
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
  color: #ffffff;
}

img {
  max-width: 100%;
}

li {
  opacity: 0;
}

li:nth-child(1) {
  animation: fade-list 0.5s ease 0.5s 1 forwards;
}
li:nth-child(2) {
  animation: fade-list 1s ease 0.5s 1 forwards;
}
li:nth-child(3) {
  animation: fade-list 1.5s ease 0.5s 1 forwards;
}
li:nth-child(4) {
  animation: fade-list 2s ease 0.5s 1 forwards;
}
li:nth-child(5) {
  animation: fade-list 2.5s ease 0.5s 1 forwards;
}

section.first {
  background-image: url(./bg02.jpg);
  background-size: cover;
  color: #000000;
}

section.first:before,
section.end:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

section.first h1 {
  margin-top: 10%;
  font-family: serif;
}

section.first ul {
  margin: 0 auto;
  margin-top: 10%;
  width: max-content;
  height: max-content;
  list-style: none;
}

section.end {
  background-image: url(./bg01.jpg);
  background-size: cover;
}
section.end {
  display: flex;
  align-items: center;
}

section.end h2 {
  width: 64%;
  font-family: serif;
  color: #000000;
}

section.ten {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

section.ten ul {
  font-size: 3em;
  list-style: none;
}